select {
  display: inline-block;
  padding: 12px 16px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: white;
  border: 2px solid var(--grey);
  border-radius: 8px;
}

select:focus-visible {
  border-color: var(--prime);
  outline: none;
}

textarea {
    height: 162px;
    padding: 12px 16px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 8px;
}



.main .container {
    align-items: center;
}

.modal {
    background: white; 
    padding: 24px; 
    border-radius: 8px; 
    border: 2px solid var(--prime);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 50; 
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal .top {
    display: flex;
    gap: 24px;
}

.modal img {
    width: 210px;
    height: 300px;
    border: none;
}

.modal .text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.modal .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  text-align: center;
}



table { 
  width: 100%; 
  border-collapse: collapse; 
  background: var(--light); 
}

th, td { 
  padding: 8px 16px; 
  text-align: left; 
  border-bottom: 2px solid white; 
}

th { 
  padding: 16px;
  background: var(--prime); 
  color: white; 
}