body {
    background-color: var(--light);
}

form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: white;
    padding: 16px 24px;
    margin: 96px 30%;
    border-radius: 8px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    text-align: center;
}