.hero {
  position: relative;
  background: white;
  padding: 150px 0;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background: url('../png/books.png');
  background-size: 350px;
  pointer-events: none;
  z-index: 0;
}

.hero .container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.hero h1 {
  text-shadow: 0 0 8px var(--light);
}

.hero p {
  font-size: 18px;
  max-width: 700px;
}



.about .container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}



.docs .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.docs ul{
  display: flex;
  justify-content: space-between;
}



.books .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}

.books-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}



.news .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}
.news-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.new {
  background: var(--light-bg);
  padding: 1rem;
  border-left: 4px solid var(--secondary-color);
  border-radius: var(--border-radius);
}



.ask .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: start;
}



.contacts .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts .map {
  background: var(--grey) url(../png/map.png);
  background-size: cover;
  height: 400px;
  width: 600px;
  border: 2px solid var(--secc);
  border-radius: 8px;
}

.contacts ul {
  flex-direction: column;
}

.contacts .icon {
  background-color: var(--light);
}

.contacts span {
  font-weight: 500;
}

.contacts a {
  font-weight: 500;
  color: var(--dark);
}

.contacts a:hover {
  color: var(--prime);
  text-decoration: none;
}

.contacts .block {
  background: var(--grey);
  background-size: cover;
  height: 400px;
  width: 260px;
  border: 2px solid var(--secc);
  border-radius: 8px;
}